.container {
    margin-top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.formDiv {
    width: 300px;
    padding: 40px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
    box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
}

.alert {
    text-align: center;
    margin-top: 20px;
}

.creditCard {
    margin-bottom: 20%;
}